.navlinks {
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  color: rgb(12, 21, 14) !important;
}

.nav-link {
  margin-right: 32px;
}

.nav-links {
  text-decoration: none;
  margin-right: 10px;
  padding-top: 8px;
  color: #01191d;
}

.sipnplay-logo {
  height: 130px;
  width: auto;
}
.navbar {
  font-family: "Oswald", sans-serif;
}
